<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Can I Take Your Order?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <form action="{% url 'order' %}" method="GET">
        <h1>Can I Take Your Order?</h1>
        {{ form.as_p}}

        <button>Submit</button>

    </form>

    {% if total != None %}
        <h1>Total ${{total}}</h1>
    {% endif %}
    


    
</body>
</html>