<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Xyz There</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <form action="{% url 'xyzthere'%} " method="GET">
        <h1>Xyz There</h1>
        {{ form.as_p }}

        <button>Submit</button>
    </form>

    {% if user_given != None %}
        <h1>Given String: {{ user_given }} </h1>
    {% endif %}


    
</body>
</html>